body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.box {
    background-color: #de8484;
    border: 1px solid #4516f1;
    padding: 10px;
}

table, th, td {
    border: 2px solid rgb(220, 11, 11);
    border-collapse: collapse;
  }

  th, td {
    border-color: #eb1132;
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 188px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }